$component-active-color: #495057;
$component-active-bg: rgba(161, 194, 250, 0.16);
$link-color: #1e5372;
$link-hover-color: #1e5372;
$link-hover-decoration: none;
$list-group-hover-bg: $component-active-bg;
$list-group-active-color: #1e5372;
$list-group-active-bg: $component-active-bg;
$theme-colors: (
  "primary": #1e5372,
  "success": #95ca3e
);

@import "../node_modules/bootstrap/scss/bootstrap";

@media (min-width: 767.98px) { 
  .card {
    width: 60%;
    box-shadow: 2px 2px 2px 0.9px rgba(0, 0, 0, 0.2) !important;
  }
}

.card {
  margin: 1rem auto;
  margin-bottom: 2.3rem;
  box-shadow: 2px 2px 2px 0.1px rgba(0, 0, 0, 0.2);
}
